.portfolio {
    position: relative;
    overflow: hidden;
    height: 250px;
    border-radius: 15px; /* 15 je lepšie ako 10 change my mind */
    margin: 10px 0;
}

.portfolio img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}

.portfolio:hover img {
    transform: scale(1.05);
}

.portfolio-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.425);
    color: white;
    padding: 10px;
    text-align: center;
    transform: translateY(100%);
    transition: transform 0.15s ease;
}

.portfolio:hover .portfolio-text {
    transform: translateY(0);
}